
/*=============================================================
    Authour URL: www.designbootstrap.com

    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE

========================================================  */



/*================================
    GENERAL STYLES
==================================*/

@import url(http://fonts.googleapis.com/css?family=Roboto); /* GOOGLE FREE FONTS */

body {
    font-family: 'Droid Arabic Naskh', 'Roboto', sans-serif;
}
section {
    padding-top: 80px;
    padding-bottom: 120px;
}

.head-set {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-bottom {
    padding-bottom: 60px;
}
/*================================
    NAVBAR STYLES
==================================*/

.navbar-default {
    background-color: #00b2f8;
    border-color: transparent;
    color: #fff;
}
.navbar-default .navbar-nav > li > a{
	line-height: 25px;
	color:#fff;
    font-size: 1.4rem;
    transition: 0.2s;
}
.navbar-default .navbar-nav > li > a:hover{
	background:#05d9f5;
	color:#fff;
    font-size: 1.8rem;
    box-shadow: 1px 1px 10px #0000005b;
}
.navbar-default .navbar-nav > li > a:active{
	background:#116a83;
	color:#fff;
}
.navbar-default .navbar-nav > li > a:visited{
	color:#fff;
}
.navbar-brand {
    padding: 0px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:#fff;
}

.navbar-header a h3{
	line-height:110%;
	margin-top: 17px;
	color: #3af700;
	text-decoration: none;
    transition: 0.4s;
}

.navbar-header a h3:hover{
    color: #c8ff00;
}

.navbar-header a:hover{
	text-decoration: none;
}
.navbar-header a:active{
	text-decoration: none;
}
.navbar-header a:visited{
	text-decoration: none;
}
/*================================
    HOME SECTION STYLES
==================================*/

/*STYLE OF BACKGROUND IMAGE*/
#home {
    background: url(../img/home.jpg) no-repeat center center; /*Full Witdth background image*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    min-height: 600px;
}
    /*STYLE FOR OVERLAY CLASS - WHICH IS ABOVE IMAGE WITH OPACITY/TRANSPARENCY 0.75*/
    #home .overlay {
        padding-top: 90px;
        background-color: rgba(35, 134, 161, 0.6); /*.75 opacity of the color so that background image is visible*/
        min-height: 600px;
        color: #fff;
    }

    #home h1 {
        padding-top: 90px;
        font-weight: 900;
		line-height: 130%;
        font-size: 83px;
        margin-bottom: 50px;
        font-family: 'Droid Arabic Naskh', 'Browallia New';
    }
    #home .p-cls {
        margin-top: 20px;
        line-height:110%;
    }
/*SMPLE CLASS TO ADJUST SECTION PADDING & HEIGHT*/

/*CLASS TO FORMAT TEXT*/
.p-cls {
    padding-top: 30px;
    padding-bottom: 40px;
}
#services div p{
	line-height:170%;
}
@media (max-width:768px){
	.navbar-header a h3{
		margin-right:20px;
	}
}

.fa-heart, .fa-mobile, .fa-phone{
    color: rgb(30, 186, 238);
    transition: 0.25s;
}

.fa-heart:hover, .fa-mobile:hover, .fa-phone:hover{
    color: rgba(30, 186, 238, 0.6);
    transform: translateY(-5px);
}

/*======================================
    PARALLAX LIKE / STATS SECTION STYLES
=========================================*/

.parallax-like {
    background: url(../img/stats.jpg) no-repeat center center; /* DEFINE IMAGE PATH CAREFULLY*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .parallax-like .overlay {
        min-height: 200px;
        background: rgba(35, 133, 161,0.6);
        font-size: 40px;
        padding-bottom: 60px;
        padding-top: 60px;
    }
    .parts div{
		text-align:center;
    }
    .parts div strong{
		font-size: 43px;
    }
    .parts div p{
		font-size: 22px;
		margin-top:17px;
    }

/*================================
    PORTFOLIO / WORK SECTION STYLES
==================================*/
.portfolio-item img{
    transition: 0.2s ease-out;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.411);
    filter: grayscale(40%);
}

.portfolio-item img:hover { /* POSTFOLIO IMAGE BIG ON HOVER */
    cursor: default;
    transform: scale(1.04, 1.04);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
    z-index: 1;
    filter: grayscale(0%);


}
.portfolio-item div h5{
	margin-top:15px;
}
#works div p{
	line-height:165%;
}
/*================================
    VIDEO SECTION STYLES
==================================*/
#video-sec {
    color: #fff;
    text-align: center;
}

    #video-sec .overlay {
        background-color: rgba(0, 0, 0, 0.85);
        min-height: 300px;
        color: #fff;
        padding-bottom:40px;
    }

    #video-sec h3 {
        padding-top: 45px;
        font-size: 50px;
        font-weight: 900;
        padding-bottom: 30px;
    line-height: 130%;
    }
    #video-sec h4 {
        line-height:150%;
    }
/*================================
    CONTACT SECTION STYLES
==================================*/    
    #contact h3{
		font-size: 40px;
    }
    #contact p{
		line-height:150%;
    }
    
    
    
/*================================
    CLIENTS SECTION STYLES
==================================*/
#clients {
    background-color:#f4f4f4;
    padding-bottom:50px;
    padding-top:50px;
}
    #clients img {
        opacity:0.5;
        cursor:pointer;
    }
        #clients img:hover {
            opacity:1;
        }
/*================================
    FOOTER SECTION STYLES
==================================*/

footer {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: 900;
    background-color: rgb(35, 133, 161);
    color: #fff;
}

    footer a, footer a:hover {
        color: #fff;
        text-decoration: none;
    }
